@font-face {
  font-family: 'Lato';
  src: url('#{$uicc-font-path}/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('#{$uicc-font-path}/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
