// scss-lint:disable SelectorFormat
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Body reset

html {
  -webkit-tap-highlight-color: $uicc-color-transparent;
}

html,
body {
  margin: 0;
  font-family: $uicc-font-family-base;
  font-size: $uicc-font-size-base;
  line-height: $uicc-line-height-base;
  color: $uicc-text-color;
  background-color: $uicc-body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea,
table,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

th {
  text-align: left;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p,
fieldset,
figure,
input {
  margin: 0;
  padding: 0;
}

input {
  border-radius: 0;
}

iframe,
fieldset {
  border: none;
}

ul,
ol {
  list-style-type: none;
}

a,
a:visited,
a:active,
a:focus {
  @include uicc-hover('inherit');
  color: inherit;
  text-decoration: none;
}



img {
  max-width: 100%;
}

hr {
  border: none;
  border-top: 1px solid $uicc-color-gray-medium;
  margin: $uicc-default-margin 0;
}

small {
  font-size: 1em;
}
