.uicc-accordion {

  &__item {
    border-bottom: 1px solid var(--uicc-color-gray-medium);

    &Header {
      @include uicc-hover(var(--uicc-color-brand-primary));
      padding-top: 1rem;
      padding-bottom: 0.8rem;
      cursor: pointer;

      .uicc-accordion__item.is-open > & {
        color: var(--uicc-color-brand-primary);
      }
    }

    &Headline {
      font-size: 18px;
    }

    &Content {
      padding-top: 0.2rem;
      padding-bottom: 1rem;
    }
  }


}

