$uicc-alert-padding: $uicc-default-margin !default;
$uicc-alert-padding-screen-large: $uicc-default-margin-screen-large !default;
$uicc-alert-success-color: $uicc-color-success !default;
$uicc-alert-success-color-background: $uicc-color-success-background !default;
$uicc-alert-info-color: $uicc-color-black !default;
$uicc-alert-info-color-background: $uicc-color-gray-light !default;
$uicc-alert-warning-color: $uicc-color-warning !default;
$uicc-alert-warning-color-background: $uicc-color-warning-background !default;
$uicc-alert-error-color: $uicc-color-error !default;
$uicc-alert-error-color-background: $uicc-color-error-background !default;

.uicc-alert {
  padding: $uicc-alert-padding;

  @media #{$uicc-medium-up} {
    padding: $uicc-alert-padding-screen-large;
  }

  &--success {
    color: $uicc-alert-success-color;
    background-color: $uicc-alert-success-color-background;

    .uicc-link {
      color: $uicc-alert-success-color;
    }

  }

  &--info {
    color: $uicc-alert-info-color;
    background-color: $uicc-alert-info-color-background;
  }

  &--warning {
    color: $uicc-alert-warning-color;
    background-color: $uicc-alert-warning-color-background;
  }

  &--error {
    color: $uicc-alert-error-color;
    background-color: $uicc-alert-error-color-background;
  }

}
