@keyframes uicc-zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1);
  }

  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes uicc-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.uicc-animated {
  animation-fill-mode: both;
  animation-duration: 1000ms;

  &--zoomIn {
    animation-name: uicc-zoomIn;
  }

  &--fadeIn {
    animation-name: fadeIn;
  }
}
