$uicc-button-padding: 0.35rem 0.35rem 0.35rem 0.35rem !default;
$uicc-button-padding-screen-large: 0.51rem !default;

.uicc-button {
  display: inline-block;
  text-align: center;
  padding: $uicc-button-padding;
  border: 1px solid transparent;

  line-height: 1em;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  @media #{$uicc-small-up} {
    padding: $uicc-button-padding-screen-large;
  }

  &[disabled],
  &.is-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &--block {
    width: 100%;
  }

  &--primary {
    background-color: $uicc-color-brand-primary-light;
    color: $uicc-color-brand-primary-inverted;
    border-color: $uicc-color-brand-primary;

    &:visited {
      color: $uicc-color-brand-primary-inverted;
    }

    &:not([disabled]) {
      @include uicc-hover($uicc-color-brand-primary-inverted, $uicc-color-brand-primary);
    }

    &:not([disabled]):active,
    &:not([disabled]):focus {
      color: $uicc-color-brand-primary-inverted;
    }
  }

  &--secondary {
    background-color: $uicc-color-gray-dark;
    color: $uicc-color-white;
    border-color: $uicc-color-gray-dark;

    &:visited {
      color: $uicc-color-white;
    }

    &:not([disabled]):hover {
      @include uicc-hover($uicc-color-white, $uicc-color-gray-darker);
    }

    &:not([disabled]):active,
    &:not([disabled]):focus {
      color: $uicc-color-white;
    }
  }

  &--danger {
    background: $uicc-color-error-background;
    color: $uicc-color-error;

    &:visited {
      color: $uicc-color-error;
    }

    &:not([disabled]):hover {
      @include uicc-hover($uicc-color-error-background, $uicc-color-error);
    }

    &:not([disabled]):active,
    &:not([disabled]):focus {
      color: $uicc-color-error;
    }
  }

  &__icon {
    margin-bottom: -0.28em;
    margin-top: -0.35em;

    &--left {
      margin-right: 0.1em;
    }

    &--right {
      margin-left: 0;
    }
  }

}
