$uicc-button-primary-color-background: $uicc-color-brand-primary !default;
$uicc-button-primary-color: $uicc-color-brand-primary-inverted !default;
$uicc-button-primary-border-color: $uicc-button-primary-color-background !default;
$uicc-button-primary-hover-color-background: $uicc-color-brand-primary-light !default;
$uicc-button-primary-hover-color: $uicc-button-primary-color !default;
$uicc-button-primary-hover-border-color: $uicc-button-primary-hover-color-background !default;

$uicc-button-secondary-color-background: $uicc-color-gray-dark !default;
$uicc-button-secondary-color: $uicc-color-white !default;
$uicc-button-secondary-border-color: $uicc-color-gray-dark !default;
$uicc-button-secondary-hover-color-background: $uicc-color-gray-darker !default;
$uicc-button-secondary-hover-color: $uicc-color-white !default;
$uicc-button-secondary-hover-border-color: $uicc-button-secondary-hover-color-background !default;

$uicc-button-danger-color-background: $uicc-color-error !default;
$uicc-button-danger-color: $uicc-color-white !default;
$uicc-button-danger-border-color: $uicc-button-danger-color-background !default;
$uicc-button-danger-hover-color-background: darken($uicc-color-error, 10%) !default;
$uicc-button-danger-hover-color: $uicc-button-danger-color !default;
$uicc-button-danger-hover-border-color: $uicc-button-danger-hover-color-background !default;

$uicc-button-padding: 0.85em 0.75em 0.55em 0.75em !default;
$uicc-button-padding-big: 1.12em 1em 0.7em 1em !default;

$uicc-button-font-weight: bold !default;
$uicc-button-text-transform: uppercase !default;

$uicc-button-font-size: 0.9em !default;
$uicc-button-font-size-big: 1.2em !default;
$uicc-button-border-radius: $uicc-roundedEdge-border-radius !default;
$uicc-button-icon-margin-top: -0.1em;
$uicc-button-icon-margin-bottom: 0;

@mixin uicc-button-colors(
  $_color,
  $_backgroundColor,
  $_borderColor,
  $_hoverColor,
  $_hoverBackgroundColor,
  $_hoverBorderColor
) {
  background-color: $_backgroundColor;
  color: $_color;
  border-color: $_borderColor;

  &:visited {
    color: $_color;
  }

  &:not([disabled]) {
    @include uicc-hover($_hoverColor, $_hoverBackgroundColor);
  }

  &:not([disabled]):not(:hover):active,
  &:not([disabled]):not(:hover):focus {
    color: $_color;
  }

  &.is-active {
    background-color: $_hoverBackgroundColor;
    color: $_hoverColor;
  }

  &.uicc-button--outline {
    background-color: transparent;
    color: $_backgroundColor;
    border-color: $_backgroundColor;

    &:hover,
    &.is-active {
      background-color: $_backgroundColor;
      color: $_color;
    }
  }
}

.uicc-button {
  transition: background-color 200ms, border-color 200ms, color 200ms;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $uicc-button-padding;
  border: 1px solid transparent;
  border-radius: $uicc-button-border-radius;

  text-transform: $uicc-button-text-transform;
  font-size: $uicc-button-font-size;
  font-weight: $uicc-button-font-weight;
  line-height: 1em;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &[disabled],
  &.is-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.uicc-button--block {
  width: 100%;
  justify-content: center;
}

.uicc-button--primary {
  @include uicc-button-colors(
    $uicc-button-primary-color,
    $uicc-button-primary-color-background,
    $uicc-button-primary-border-color,
    $uicc-button-primary-hover-color,
    $uicc-button-primary-hover-color-background,
    $uicc-button-primary-hover-border-color
  );
}

.uicc-button--secondary {
  @include uicc-button-colors(
    $uicc-button-secondary-color,
    $uicc-button-secondary-color-background,
    $uicc-button-secondary-border-color,
    $uicc-button-secondary-hover-color,
    $uicc-button-secondary-hover-color-background,
    $uicc-button-secondary-hover-border-color
  );
}

.uicc-button--danger {
  @include uicc-button-colors(
    $uicc-button-danger-color,
    $uicc-button-danger-color-background,
    $uicc-button-danger-border-color,
    $uicc-button-danger-hover-color,
    $uicc-button-danger-hover-color-background,
    $uicc-button-danger-hover-border-color
  );
}

.uicc-button__icon {
  margin-top: $uicc-button-icon-margin-top;
  margin-bottom: $uicc-button-icon-margin-bottom;

  &--left {
    margin-right: 0.3em;
    margin-left: -0.2em;
  }

  &--right {
    margin-left: 0.3em;
    margin-right: -0.2em;
  }
}

.uicc-button--big {
  padding: $uicc-button-padding-big;
  font-size: $uicc-button-font-size-big;
}
