:root {
  --uicc-button-primary-color-background: $uicc-color-brand-primary;
  --uicc-button-primary-color: $uicc-color-brand-primary-inverted;
  --uicc-button-primary-border-color: var(--uicc-button-primary-color-background);
  --uicc-button-primary-hover-color-background: darken($uicc-color-brand-primary, 10%);
  --uicc-button-primary-hover-color: var(--uicc-button-primary-color);
  --uicc-button-primary-hover-border-color: var(--uicc-button-primary-hover-color-background);

  --uicc-button-secondary-color-background: $uicc-color-gray-dark;
  --uicc-button-secondary-color: $uicc-color-white;
  --uicc-button-secondary-border-color: $uicc-color-gray-dark;
  --uicc-button-secondary-hover-color-background: $uicc-color-gray-darker;
  --uicc-button-secondary-hover-color: $uicc-color-white;
  --uicc-button-secondary-hover-border-color: var(--uicc-button-secondary-hover-color-background);

  --uicc-button-danger-color-background: $uicc-color-error;
  --uicc-button-danger-color: $uicc-color-white;
  --uicc-button-danger-border-color: var(--uicc-button-danger-color-background);
  --uicc-button-danger-hover-color-background: darken($uicc-color-error, 10%);
  --uicc-button-danger-hover-color: var(--uicc-button-danger-color);
  --uicc-button-danger-hover-border-color: var(--uicc-button-danger-hover-color-background);

  --uicc-button-padding: 0.62rem 0.35rem 0.4rem 0.45rem;
  --uicc-button-border-radius: 0;
}
  
@mixin button-colors(
  $_color,
  $_backgroundColor,
  $_borderColor,
  $_hoverColor,
  $_hoverBackgroundColor,
  $_hoverBorderColor) {
  background-color: $_backgroundColor;
  color: $_color;
  border-color: $_borderColor;

  &:visited {
    color: $_color;
  }

  &:not([disabled]) {
    @include uicc-hover($_hoverColor, $_hoverBackgroundColor);
  }

  &:not([disabled]):not(:hover):active,
  &:not([disabled]):not(:hover):focus {
    color: $_color;
  }
}

.uicc-button {
  transition: background-color 200ms, border-color 200ms, color 200ms;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: var(--uicc-button-padding);
  border: 1px solid transparent;
  border-radius: var(--uicc-button-border-radius);

  line-height: 1em;
  cursor: pointer;
}

.uicc-button:focus {
  outline: none;
}

.uicc-button[disabled],
.uicc-button.is-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.uicc-button--block {
  width: 100%;
}

.uicc-button--primary {
  @include button-colors(
                  var(--uicc-button-primary-color),
                  var(--uicc-button-primary-color-background),
                  var(--uicc-button-primary-border-color),
                  var(--uicc-button-primary-hover-color),
                  var(--uicc-button-primary-hover-color-background),
                  var(--uicc-button-primary-hover-border-color)
  );
}

.uicc-button--secondary {
  @include button-colors(
                  var(--uicc-button-secondary-color),
                  var(--uicc-button-secondary-color-background),
                  var(--uicc-button-secondary-border-color),
                  var(--uicc-button-secondary-hover-color),
                  var(--uicc-button-secondary-hover-color-background),
                  var(--uicc-button-secondary-hover-border-color)
  );
}

.uicc-button--danger {
  @include button-colors(
                  var(--uicc-button-danger-color),
                  var(--uicc-button-danger-color-background),
                  var(--uicc-button-danger-border-color),
                  var(--uicc-button-danger-hover-color),
                  var(--uicc-button-danger-hover-color-background),
                  var(--uicc-button-danger-hover-border-color)
  );
}

.uicc-button__icon {
  margin-bottom: -0.28em;
  margin-top: -0.35em;

  &--left {
    margin-right: 0.1em;
    margin-left: -0.1em;
  }

  &--right {
    margin-left: 0;
    margin-right: -0.1em;
  }
}

