.uicc-checkbox {
  display: block;

  &--inline {
    display: inline-block;
    margin-bottom: $uicc-default-margin-small;
    margin-right: $uicc-default-margin-small;
  }

  &__label {
    @include uicc-hover($uicc-color-brand-primary);

    display: inline-block;
    position: relative;

    padding-left: 2em;

    vertical-align: middle;
    cursor: pointer;
    margin-bottom: .5em;

    &::before {
      content: '';
      position: absolute;
      margin-top: -0.175em;
      left: 0;
      width: 1.5em;
      height: 1.5em;
      border: 1px solid $uicc-color-gray-medium;
      padding: .2em;
      color: $uicc-color-white;
      line-height: .4em;
      text-indent: -.1em;
    }

  }

  &__control {
    // do not use display: none because that would prevent the control from being tab-activatable (it would lose its tabindex so to say)
    position: absolute;
    left: -999999px;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &__control:focus + &__label::before {
    border-style: dashed;
  }

  &.is-checked &__label::before,
  &__control:checked + &__label::before {
    background-image: url('#{$uicc-image-path}/check.svg');
    background-size: 0.75em;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--big &__label {

    padding-left: 2.5em;

    &::before {
      margin-top: -0.28em;
      border-width: 3px;
      line-height: 0.4em;
      text-indent: -0.2em;
      font-size: 1.4em;
    }
  }

  &--small &__label {
    font-size: 0.8em;
  }

}
