$uicc-checkboxAndRadio-background-color-checked: $uicc-color-brand-primary !default;

.uicc-radio,
.uicc-checkbox {
  display: block;

  margin-top: 0.5em;

  &--inline {
    display: inline-block;
    margin-right: $uicc-default-margin;
  }

  &__label {
    @include uicc-hover($uicc-color-brand-primary);

    display: inline-block;
    position: relative;

    padding-left: 2em;

    vertical-align: middle;
    cursor: pointer;

    &::before {
      content: '';
      transition: background-color 300ms;
      position: absolute;
      margin-top: -0.175em;
      left: 0;
      width: 1.5em;
      height: 1.5em;
      border: 1px solid transparentize($uicc-color-gray-dark, 0.5);
      padding: 0.2em;
      color: $uicc-color-white;
      line-height: 0.4em;
      text-indent: -0.1em;
    }
  }

  &__control {
    // do not use display: none because that would prevent the control from being tab-activatable (it would lose its tabindex so to say)
    position: absolute;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &__control:focus + &__label::before {
    border-width: 2px;
  }

  &.is-checked &__label,
  &__control:checked + &__label {
    color: $uicc-color-brand-primary;
  }

  &.is-checked &__label::before,
  &__control:checked + &__label::before {
    background-image: url('#{$uicc-image-path}/check.svg');
    background-color: $uicc-checkboxAndRadio-background-color-checked;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--big &__label {
    font-size: 1.1em;
    padding-left: 2.3em;

    &::before {
      margin-top: -0.24em;
      border-width: 2px;
      line-height: 0.4em;
      text-indent: -0.2em;
      font-size: 1.2em;
    }
  }

  &--big {
    margin-right: $uicc-default-margin-big;

    & + & {
      margin-top: 1em;
    }
  }

  &--big.uicc-checkbox--inline,
  &--big.uicc-radio--inline {
    & + & {
      margin-top: 0;
    }
  }

  &--small &--inline {
    margin-right: $uicc-default-margin-small;
  }

  &--small &__label {
    font-size: 0.8em;
  }

  &.is-disabled &__label {
    color: $uicc-color-gray-medium;
    cursor: not-allowed;

    &::before {
      opacity: 0.7;
    }
  }
}

.uicc-radio__label::before {
  border-radius: 50%;
}
