$uicc-col-margin: 14px;
$uicc-col-margin-small: 8px;
$uicc-col-margin-big: 28px;

.uicc-col {
  display: inline-flex;

  margin-right: $uicc-col-margin;

  &--smallMargin {
    margin-right: $uicc-col-margin-small;
  }

  &--bigMargin {
    margin-right: $uicc-col-margin-big;
  }

  &--withSeparator {
    border-right: 1px solid $uicc-color-gray-medium;
    padding-right: $uicc-col-margin / 1.65;
    margin-right: $uicc-col-margin / 2.5;

    &.uicc-col--smallMargin {
      padding-right: $uicc-col-margin-small / 1.4;
      margin-right: $uicc-col-margin-small / 2.8;
    }

    &.uicc-col--bigMargin {
      padding-right: $uicc-col-margin-big / 1.75;
      margin-right: $uicc-col-margin-big / 2.5;
    }
  }

  &--inverse {

    margin-right: 0;
    margin-left: $uicc-col-margin;

    &.uicc-col--withSeparator {
      padding-right: 0;
      border-right: none;

      border-left: 1px solid $uicc-color-gray-medium;
      padding-left: $uicc-col-margin / 1.65;
      margin-left: $uicc-col-margin / 2.5;

      &.uicc-col--smallMargin {
        padding-left: $uicc-col-margin-small / 1.4;
        margin-left: $uicc-col-margin-small / 2.8;
      }

      &.uicc-col--bigMargin {
        padding-left: $uicc-col-margin-big / 1.75;
        margin-left: $uicc-col-margin-big / 2.5;
      }

    }
  }



}
