// scss-lint:disable ImportantRule
.uicc-color {

  &--primary {
    color: $uicc-color-brand-primary;

    &.uicc-color--force,
    &.uicc-color--force * {
      color: $uicc-color-brand-primary !important;
    }
  }

  &--secondary {
    color: $uicc-color-brand-secondary;

    &.uicc-color--force,
    &.uicc-color--force * {
      color: $uicc-color-brand-secondary !important;
    }
  }

  &--gray {
    color: $uicc-color-gray;

    &.uicc-color--force,
    &.uicc-color--force * {
      color: $uicc-color-gray !important;
    }
  }

  &--mediumGray {
    color: $uicc-color-gray-medium;

    &.uicc-color--force,
    &.uicc-color--force * {
      color: $uicc-color-gray-medium !important;
    }
  }

  &--white {
    color: $uicc-color-white;

    &.uicc-color--force,
    &.uicc-color--force * {
      color: $uicc-color-white !important;
    }
  }
}
