.uicc-fab {
  $radius: 1.25em;
  position: absolute;
  bottom: -$radius;
  right: $radius/2;
  border-radius: 50%;
  width: $radius*2;
  height: $radius*2;

  &Container {
    position: relative;

    &--withMargin {
      margin-bottom: 1.2em;
    }
  }
}
