.uicc-headline {
  font-family: $uicc-headings-font-family;
  font-weight: $uicc-headings-font-weight;
  letter-spacing: $uicc-headings-letter-spacing;
  margin-top: 0;
  margin-bottom: 0;

  line-height: $uicc-headings-line-height-screen-tiny;

  @media #{$uicc-medium-up} {
    line-height: $uicc-headings-line-height;
  }

  &--primary {
    color: $uicc-color-brand-primary;
  }

  &--secondary {
    color: $uicc-color-brand-secondary;
  }

  &__addendum {
    letter-spacing: 0;
    line-height: 1;
    opacity: 0.7;
  }

  &--h0 {
    font-size: $uicc-font-size-h0-screen-tiny;
    text-transform: $uicc-text-transform-h0;

    @media #{$uicc-medium-up} {
      font-size: $uicc-font-size-h0-screen-small;
    }

    @media #{$uicc-large-up} {
      font-size: $uicc-font-size-h0;
    }

    .uicc-headline__addendum {
      font-size: 65%;
    }
  }

  &--h1 {
    font-size: $uicc-font-size-h1-screen-tiny;
    text-transform: $uicc-text-transform-h1;

    @media #{$uicc-medium-up} {
      font-size: $uicc-font-size-h1-screen-small;
    }

    @media #{$uicc-large-up} {
      font-size: $uicc-font-size-h1;
    }

    .uicc-headline__addendum {
      font-size: 65%;
    }
  }

  &--h2 {
    font-size: $uicc-font-size-h2-screen-tiny;
    text-transform: $uicc-text-transform-h2;

    @media #{$uicc-medium-up} {
      font-size: $uicc-font-size-h2-screen-small;
    }

    @media #{$uicc-large-up} {
      font-size: $uicc-font-size-h2;
    }

    .uicc-headline__addendum {
      font-size: 65%;
    }
  }

  &--h3 {
    font-size: $uicc-font-size-h3-screen-tiny;
    text-transform: $uicc-text-transform-h3;

    @media #{$uicc-medium-up} {
      font-size: $uicc-font-size-h3-screen-small;
    }

    @media #{$uicc-large-up} {
      font-size: $uicc-font-size-h3;
    }

    .uicc-headline__addendum {
      font-size: 65%;
    }
  }

  &--h4 {
    font-size: $uicc-font-size-h4-screen-tiny;
    text-transform: $uicc-text-transform-h4;

    @media #{$uicc-medium-up} {
      font-size: $uicc-font-size-h4-screen-small;
    }

    @media #{$uicc-large-up} {
      font-size: $uicc-font-size-h4;
    }

    .uicc-headline__addendum {
      font-size: 75%;
    }
  }

  &--h5 {
    font-size: $uicc-font-size-h5-screen-tiny;
    text-transform: $uicc-text-transform-h5;

    @media #{$uicc-medium-up} {
      font-size: $uicc-font-size-h5-screen-small;
    }

    @media #{$uicc-large-up} {
      font-size: $uicc-font-size-h5;
    }

    .uicc-headline__addendum {
      font-size: 75%;
    }
  }

  &--h6 {
    font-size: $uicc-font-size-h6-screen-tiny;
    text-transform: $uicc-text-transform-h6;

    @media #{$uicc-medium-up} {
      font-size: $uicc-font-size-h6-screen-small;
    }

    @media #{$uicc-large-up} {
      font-size: $uicc-font-size-h6;
    }

    .uicc-headline__addendum {
      font-size: 75%;
    }
  }

  &--label {
    display: inline-block;
    padding: 0.3em 0.3em 0.2em 0.3em;
    background: $uicc-color-black;
    color: $uicc-color-white;
    text-transform: uppercase;
  }
}

.uicc-headline--text {
  &.uicc-headline--h1,
  &.uicc-headline--h2,
  &.uicc-headline--h3,
  &.uicc-headline--h4,
  &.uicc-headline--h5,
  &.uicc-headline--h6 {
    margin-top: ($uicc-line-height-computed * 1.3);
    margin-bottom: ($uicc-line-height-computed * 0.75);

    & + & {
      margin-top: 0;
    }

    &.uicc-headline--firstInText {
      margin-top: 0;
    }
  }
}
