$uicc-icon-font-size: 1.6em !default;
$uicc-icon-font-size-tiny: 1.2em !default;
$uicc-icon-font-size-small: 1.4em !default;
$uicc-icon-font-size-big: 2.15em !default;
$uicc-icon-font-size-extraBig: 3.15em !default;
$uicc-icon-font-size-screen-tiny: $uicc-icon-font-size-small !default;
$uicc-icon-font-size-small-screen-tiny: $uicc-icon-font-size-small !default;
$uicc-icon-font-size-big-screen-tiny: $uicc-icon-font-size-big !default;
$uicc-icon-font-size-extraBig-screen-tiny: $uicc-icon-font-size-extraBig !default;

.uicc-icon {
  display: inline-block;

  width: 1em;
  height: 1em;
  font-size: $uicc-icon-font-size-screen-tiny;

  text-transform: none;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;

  &--tiny {
    font-size: $uicc-icon-font-size-tiny;
  }

  &--small {
    font-size: $uicc-icon-font-size-small-screen-tiny;
  }

  &--big {
    font-size: $uicc-icon-font-size-big-screen-tiny;
  }

  &--extraBig {
    font-size: $uicc-icon-font-size-extraBig-screen-tiny;
  }

  &--primary {
    color: $uicc-color-brand-primary;
  }

  &--light {
    color: $uicc-color-gray;
  }

  &--inverted {
    color: $uicc-color-white;
  }

  &--circle {
    border-radius: 50%;
    color: $uicc-color-white;
    background: $uicc-color-black;

    &.uicc-icon--inverted {
      border-radius: 50%;
      color: $uicc-color-black;
      background: $uicc-color-white;
    }
  }



  &--hoverPrimary {
    @include uicc-hover($uicc-color-brand-primary);
  }

  @media #{$uicc-small-up} {

    font-size: $uicc-icon-font-size;

    &--tiny {
      font-size: $uicc-icon-font-size-tiny;
    }

    &--small {
      font-size: $uicc-icon-font-size-small;
    }

    &--big {
      font-size: $uicc-icon-font-size-big;
    }

    &--extraBig {
      font-size: $uicc-icon-font-size-extraBig;
    }
  }
}

