$uicc-input-error-color: $uicc-color-error !default;
$uicc-input-valid-color: $uicc-color-success !default;
$uicc-input-border-color: $uicc-color-gray-medium !default;

$uicc-input-type-range-thumb-color: $uicc-color-black !default;
$uicc-input-type-range-thumb-margin: -7px !default;
$uicc-input-type-range-thumb-diameter: 1rem;
$uicc-input-type-range-track-color: $uicc-color-gray-medium !default;
$uicc-input-type-range-track-width: 2px !default;

.uicc-input {
  flex: 1 1 auto;
  width: 100%;

  outline: 0;
  padding: $uicc-input-padding;

  background-color: $uicc-color-white;
  color: $uicc-color-gray-dark;

  border: 1px solid $uicc-input-border-color;

  &:focus {
    border: 1px solid $uicc-color-brand-primary;
  }

  // sass-lint:disable no-vendor-prefixes
  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &-moz-placeholder,
  &-ms-input-placeholder {
    font-size: 0.8em;
  }
  // sass-lint:enable no-vendor-prefixes

  &.is-disabled,
  &--stateful[disabled] {
    border-color: $uicc-color-gray-medium;
    color: $uicc-color-gray-medium;
    cursor: not-allowed;
  }

  &.is-readonly,
  &--stateful[readonly] {
    border-color: $uicc-color-gray-medium;
    color: $uicc-color-gray;
  }

  &.is-hidden {
    /* Hide input element while still preserving accessibility features (i.e. tab order) and ensuring that its value
     * gets submitted properly.
     * CSS properties such as display: none or visibility: hidden will not work out. The reasons are:
     * - the input value will not be sent to the server on form submit
     * - the input will be excluded out of tab order.
     */
    width: 0.1px; //Setting the property values to zero ends up throwing the element out of tab party in some browsers.
    height: 0.1px; //Setting the property values to zero ends up throwing the element out of tab party in some browsers.
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &--stateful {
    &.is-invalid,
    &.ng-touched.ng-invalid {
      border-color: $uicc-color-error;
    }
  }

  &--big {
    padding: 12px 5px;
  }
}

// sass-lint:disable no-qualifying-elements
textarea.uicc-input {
  min-height: 7em;
}
// sass-lint:enable no-qualifying-elements

/********************************************************************************************************************
 * INPUT TYPE RANGE
 *
 * Using mixins is necessary to avoid code repetition as you can't comma-separate the selectors in this case.
 * Browsers will drop the entire selector if they don't understand a part of it.
 ********************************************************************************************************************/

@mixin uicc-input-range-thumb {
  appearance: none;
  height: $uicc-input-type-range-thumb-diameter;
  width: $uicc-input-type-range-thumb-diameter;
  border: none;
  border-radius: 50%;
  background: $uicc-input-type-range-thumb-color;
  cursor: pointer;
}

@mixin uicc-input-range-track {
  width: 100%;
  height: $uicc-input-type-range-track-width;
  cursor: pointer;
  background: $uicc-input-type-range-track-color;
  border: none;
}

// sass-lint:disable no-vendor-prefixes no-qualifying-elements
input[type='range'].uicc-input {
  appearance: none;
  padding: 0;
  width: 100%;
  border: none;
  background: none;

  &::-webkit-slider-thumb {
    @include uicc-input-range-thumb;
    margin-top: $uicc-input-type-range-thumb-margin;
  }

  &::-webkit-slider-runnable-track {
    @include uicc-input-range-track;
    margin-bottom: 0.2rem;
  }

  &::-ms-thumb {
    @include uicc-input-range-thumb;

    @supports (-ms-accelerator: true) or (-ms-ime-align: auto) {
      // Edge only
      margin-bottom: $uicc-input-type-range-thumb-margin;
    }
  }

  &::-ms-track {
    @include uicc-input-range-track;
    // IE won't let the thumb overflow the track thus we have to hack
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    background-color: transparent;
    color: transparent; // remove default tick marks
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper {
    height: $uicc-input-type-range-track-width;
    background-color: $uicc-input-type-range-track-color;
  }

  &::-ms-tooltip {
    display: none;
  }

  &::-moz-range-thumb {
    @include uicc-input-range-thumb;
    margin-top: $uicc-input-type-range-thumb-margin; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &::-moz-range-track {
    @include uicc-input-range-track;
  }

  &::-moz-range-progress {
    height: $uicc-input-type-range-track-width;
    background-color: $uicc-input-type-range-track-color;
  }

  &:focus {
    outline: none;
  }
}
// sass-lint:enable no-vendor-prefixes no-qualifying-elements
