$uicc-inputGroup-error-color: $uicc-color-white !default;
$uicc-inputGroup-error-background-color: #uicc-color-error !default;

.uicc-inputGroup {
  position: relative;
  display: block;

  &.has-errors {
    border: 1px solid $uicc-color-error;
  }

  & + & {
    margin-top: $uicc-default-margin-big;
  }

  &__label {
    margin-left: 0.1em;
    margin-bottom: 0.3em;
    font-size: 1em;
    font-weight: bold;
    color: $uicc-color-gray;
  }

  &__subtext {
    display: block;
    width: 100%;
    padding: 3px;
    font-size: 0.8rem;

    &--error {
      background-color: $uicc-inputGroup-error-background-color;
      color: $uicc-inputGroup-error-color;
    }
  }

  &__alignedButton {
    margin-top: 20px;
  }
}
