$uicc-loading-indicator-color: $uicc-color-brand-primary !default;
$uicc-loading-indicator-border-color: rgba(0, 0, 0, 0.08) !default;
$uicc-loading-indicator-border-width: 3px;

.uicc-loadingIndicator {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border-width: $uicc-loading-indicator-border-width;
  border-style: solid;
  border-color: $uicc-loading-indicator-border-color;
  border-top-color:$uicc-loading-indicator-color;
  animation: uicc-loading-rotate 1.2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);

  @keyframes uicc-loading-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}
