$uicc-modal-backdrop-backgroundColor: $uicc-color-darken !default;
$uicc-modal-dialog-backgroundColor: $uicc-color-white !default;
$uicc-modal-dialog-color: $uicc-color-black !default;
$uicc-modal-dialog-border-style: solid !default;
$uicc-modal-dialog-border-width: 2px !default;
$uicc-modal-dialog-border-color: $uicc-color-transparent !default;
$uicc-modal-dialog-box-shadow: 0 2px 8px 0 #{$uicc-color-black} !default;

$uicc-modal-margin: 8px !default;
$uicc-modal-marginXlargeUp: 16px !default;

// sass-lint:disable no-qualifying-elements
html.is-uicc-modal-open {
  overflow: hidden;
}

.uicc-modal {
  will-change: opacity;
  transition: opacity 250ms;
  transform: translate3d(0, 0, 0);
  position: fixed;
  z-index: $uicc-modal-z-index;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  background-color: $uicc-modal-backdrop-backgroundColor;
  font-size: $uicc-font-size-text;

  &--fullWidth &__dialog {
    width: 100%;
  }

  &--fullHeight &__dialog {
    // sass-lint:disable no-duplicate-properties
    height: 100%;
    height: calc(100% - #{$uicc-modal-margin} * 2);
    // sass-lint:enable no-duplicate-properties

    @media #{$uicc-xlarge-up} {
      height: calc(100% - #{$uicc-modal-marginXlargeUp} * 2);
    }
  }

  &__dialog {
    animation-duration: 750ms;
    animation-fill-mode: both;
    animation-name: none;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    // sass-lint:disable no-duplicate-properties
    max-height: 100%;
    max-height: 100vh;
    max-width: 100%;
    max-width: 100vw;
    // sass-lint:enable no-duplicate-properties
    margin: $uicc-modal-margin;
    color: $uicc-modal-dialog-color;
    background-color: $uicc-modal-dialog-backgroundColor;
    border-style: $uicc-modal-dialog-border-style;
    border-width: $uicc-modal-dialog-border-width;
    border-color: $uicc-modal-dialog-border-color;
    box-shadow: $uicc-modal-dialog-box-shadow;

    @media #{$uicc-xlarge-up} {
      margin: $uicc-modal-marginXlargeUp;
    }
  }

  &__header {
    flex: 0 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;

    &Content {
      padding-right: 10px;
    }

    &Close {
      color: $uicc-color-gray;
    }
  }

  &__content {
    flex: 1 1 auto;
    max-width: 97vw;
  }

  &__footer {
    flex: 0 0 auto;
  }

  &.is-open {
    opacity: 1;
    pointer-events: all;

    .uicc-modal__dialog {
      animation-name: uicc-zoomIn;
    }
  }

  &--bounceInDown.is-open &__dialog {
    animation-name: uicc-bounceInDown;
  }

  &--fadeIn.is-open &__dialog {
    animation-name: uicc-fadeIn;
  }

  &--zoomIn.is-open &__dialog {
    animation-name: uicc-zoomIn;
  }

  &--slideInUp.is-open &__dialog {
    animation-name: uicc-slideInUp;
  }

  html:not(.csspointerevents) & {
    /*
    needed for browsers that do not support pointer-events: none (IE <= 10)
    until pointer-events polyfill has been initialized
    */
    z-index: -999;

    &.is-open {
      z-index: $uicc-modal-z-index;
    }
  }
}
