$uicc-offCanvas-width: 284px;
$uicc-offCanvas-width-screen-medium: 325px;
$uicc-offCanvas-width-screen-large: 345px;
$uicc-offCanvas-height: 260px;
$uicc-offCanvas-height-screen-medium: 320px;
$uicc-offCanvas-height-screen-large: 350px;
$uicc-offCanvas-header-border-color: #303e47;

.uicc-offCanvas {
  overflow: hidden;

  &__inner {
    will-change: transform;
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(0);
    transition: 300ms ease transform;
  }

  &.is-open-left > &__inner {
    transform: translateX($uicc-offCanvas-width);
  }

  &.is-open-right > &__inner {
    transform: translateX(-$uicc-offCanvas-width);
  }

  &.is-open-bottom > &__inner {
    transform: translateY(-$uicc-offCanvas-height);
  }

  &__on {
    height: 100%;
  }

  &__off {
    position: absolute;
    z-index: $uicc-offCanvas-z-index;


    &--left {
      will-change: left;
      left: -$uicc-offCanvas-width;
      top: 0;
      width: $uicc-offCanvas-width;
      height: 100%;
    }

    &--right {
      will-change: right;
      right: -$uicc-offCanvas-width;
      top: 0;
      width: $uicc-offCanvas-width;
      height: 100%;
    }

    &--bottom {
      will-change: bottom;
      left: 0;
      right: 0;
      width: 100%;
      height: $uicc-offCanvas-height;
      bottom: -$uicc-offCanvas-height;
    }
  }

  @media #{$uicc-medium-up} {
    &.is-open-left > &__inner {
      transform: translateX($uicc-offCanvas-width-screen-medium);
    }

    &.is-open-right > &__inner {
      transform: translateX(-$uicc-offCanvas-width-screen-medium);
    }

    &.is-open-bottom > &__inner {
      transform: translateY(-$uicc-offCanvas-height-screen-medium);
    }

    &__off {

      &--left {
        left: -$uicc-offCanvas-width-screen-medium;
        width: $uicc-offCanvas-width-screen-medium;
      }

      &--right {
        right: -$uicc-offCanvas-width-screen-medium;
        width: $uicc-offCanvas-width-screen-medium;
      }

      &--bottom {
        bottom: -$uicc-offCanvas-height-screen-medium;
        height: $uicc-offCanvas-height-screen-medium;
      }
    }
  }

  @media #{$uicc-large-up} {
    &.is-open-left > &__inner {
      transform: translateX($uicc-offCanvas-width-screen-large);
    }

    &.is-open-right > &__inner {
      transform: translateX(-$uicc-offCanvas-width-screen-large);
    }

    &.is-open-bottom > &__inner {
      transform: translateY(-$uicc-offCanvas-height-screen-large);
    }

    &__off {

      &--left {
        left: -$uicc-offCanvas-width-screen-large;
        width: $uicc-offCanvas-width-screen-large;
      }

      &--right {
        right: -$uicc-offCanvas-width-screen-large;
        width: $uicc-offCanvas-width-screen-large;
      }

      &--bottom {
        bottom: -$uicc-offCanvas-height-screen-large;
        height: $uicc-offCanvas-height-screen-large;
      }
    }
  }

}

