$uicc-pagination-color: $uicc-color-brand-primary !default;
$uicc-pagination-background-color: $uicc-color-brand-primary-inverted !default;
$uicc-pagination-active-color: $uicc-color-brand-primary-inverted !default;
$uicc-pagination-active-background-color: $uicc-color-brand-primary !default;

.uicc-pagination {
  display: flex;

  &__item {
    @include uicc-hover($uicc-color-brand-primary-inverted, $uicc-color-brand-primary);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    font-size: $uicc-font-size-base * 0.8;
    color: $uicc-pagination-color;
    background-color: $uicc-pagination-background-color;

    &.is-active {
      color: $uicc-pagination-active-color;
      background-color: $uicc-pagination-active-background-color;
    }
  }

}
