.uicc-postfix {
  display: flex;

  &--center {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--between {
    justify-content: space-between;
  }

  &--gutters {
    > * + * {
      margin-left: $uicc-default-margin;
    }
  }

  &--tiny-stacked,
  &--small-stacked {
    @media #{$uicc-tiny-only} {
      flex-direction: column;
      align-items: flex-start;

      &.uicc-postfix--gutters {
        > * + * {
          margin-left: 0;
          margin-top: $uicc-default-margin;
        }
      }
    }
  }

  &--small-stacked {
    @media #{$uicc-small-only} {
      flex-direction: column;
      align-items: flex-start;

      > * + * {
        margin-left: 0;
        margin-top: $uicc-default-margin;
      }
    }
  }

  &__fixed {
    flex-shrink: 0;
  }

  &__fluid {
    flex: 1 1 auto;
  }
}
