$uicc-readingBlock-maxWidth: 30rem !default;

.uicc-readingBlock {
  @media #{$uicc-large-up} {
    max-width: $uicc-readingBlock-maxWidth;
    margin-left: auto;
    margin-right: auto;

    &--columns {
      max-width: 100%;
      column-count: 2;
      column-gap: 2em;

      li {
        page-break-inside: avoid;
      }
    }
  }
}
