$uicc-region-padding: $uicc-default-margin !default;
$uicc-region-padding-screen-large: $uicc-default-margin-screen-large !default;;

$uicc-region-small-padding: $uicc-default-margin-small !default;;
$uicc-region-small-padding-screen-large: $uicc-default-margin-small-screen-large !default;;

$uicc-region-big-padding: $uicc-default-margin-big !default;;
$uicc-region-big-padding-screen-large: $uicc-default-margin-big-screen-large !default;;

$uicc-region-primary-color: $uicc-color-brand-primary-inverted !default;;
$uicc-region-primary-color-background: $uicc-color-brand-primary !default;;

$uicc-region-secondary-color: $uicc-color-black !default;;
$uicc-region-secondary-color-background: $uicc-color-gray-light !default;;

.uicc-region {
  padding: $uicc-region-padding;

  @media #{$uicc-large-up} {
    padding: $uicc-region-padding-screen-large;
  }

  &--small {
    padding: $uicc-region-small-padding;

    @media #{$uicc-large-up} {
      padding: $uicc-region-small-padding-screen-large;
    }
  }

  &--focusable:focus-within {
    box-shadow: $uicc-color-gray 0 0 3px;
  }

  &--big {
    padding: $uicc-region-big-padding;

    @media #{$uicc-large-up} {
      padding: $uicc-region-big-padding-screen-large;
    }
  }

  &--primary {
    background: $uicc-region-primary-color-background;
    color: $uicc-region-primary-color;
  }

  &--secondary {
    background: $uicc-region-secondary-color-background;
    color: $uicc-region-secondary-color;
  }

  &--default {
    background: $uicc-body-bg;
    color: $uicc-text-color;
  }

  &--rounded {
    @include uicc-roundedEdges;
  }
}
