$uicc-row-margin: $uicc-default-margin;
$uicc-row-margin-small: $uicc-default-margin-small;
$uicc-row-margin-extra-small: 2.6px;
$uicc-row-margin-big: $uicc-default-margin-big;
$uicc-row-margin-extra-big: $uicc-default-margin-big * 1.4;
$uicc-row-separator-color: $uicc-color-gray-medium;

.uicc-row {
  margin-bottom: $uicc-row-margin;

  &--bigMargin {
    margin-bottom: $uicc-row-margin-big;
  }

  &--extraBigMargin {
    margin-bottom: $uicc-row-margin-extra-big;
  }

  &--smallMargin {
    margin-bottom: $uicc-row-margin-small;
  }

  &--extraSmallMargin {
    margin-bottom: $uicc-row-margin-extra-small;
  }

  &--first {
    padding-top: $uicc-row-margin / 2;

    &.uicc-row--bigMargin {
      padding-top: $uicc-row-margin-big / 2;
    }

    &.uicc-row--extraBgMargin {
      padding-top: $uicc-row-margin-extra-big / 2;
    }

    &.uicc-row--smallMargin {
      padding-top: $uicc-row-margin-small / 2;
    }
  }

  &--withSeparator {
    border-bottom: 1px solid $uicc-row-separator-color;
    padding-bottom: $uicc-row-margin;

    &.uicc-row--bigMargin {
      padding-bottom: $uicc-row-margin-big;
    }

    &.uicc-row--extraBgMargin {
      padding-bottom: $uicc-row-margin-extra-big;
    }

    &.uicc-row--smallMargin {
      padding-bottom: $uicc-row-margin-small;
    }
  }

  &--inverse {
    margin-bottom: 0;
    margin-top: $uicc-row-margin;

    &.uicc-row--withSeparator {
      padding-bottom: 0;
      border-bottom: none;
      border-top: 1px solid $uicc-color-gray-medium;
      padding-top: $uicc-row-margin;

      // scss-lint:disable NestingDepth
      &.uicc-row--smallMargin {
        padding-top: $uicc-row-margin-small;
      }

      &.uicc-row--bigMargin {
        padding-top: $uicc-row-margin-big;
      }
      // scss-lint:enable NestingDepth
    }
  }
}
