$uicc-screenMargin: $uicc-default-margin;
$uicc-screenMargin-screen-large: $uicc-default-margin-screen-large;

.uicc-screenMargin {
  margin-left: $uicc-screenMargin;
  margin-right: $uicc-screenMargin;

  @media #{$uicc-large-up} {
    margin-left: $uicc-screenMargin-screen-large;
    margin-right: $uicc-screenMargin-screen-large;
  }

  .uicc-screenMargin {
    margin-left: 0;
    margin-right: 0;
  }

  &--smallNone {
    @media #{$uicc-small-down} {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
