.uicc-slider {
  width: 100%;
  overflow: hidden;

  &__slides {
    will-change: transform;
    display: flex;
    transition: transform 500ms;
    //line-height: 0;

    &--fast {
      transition: transform 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
    }
  }

  &__slide {
    display: block;

    &--card {
      will-change: transform, transition;
      position: relative;
      padding: 20px 30px;

      &::before {
        @include uicc-roundedEdges;
        content: '';
        transform: scale3d(1, 0.9, 1);
        transition: transform 300ms;
        position: absolute;
        z-index: 0;
        backface-visibility: hidden;

        top: 10px;
        bottom: 10px;
        right: 20px;
        left: 20px;

        background-color: $uicc-color-white;
        box-shadow: 0 1px 2px 2px $uicc-color-darken-light;
      }
    }
  }

  &__card {
    position: relative;
    z-index: 1;
    padding: 15px;
  }

  @mixin uicc-slides($slideCount) {
    &[data-slides-count='#{$slideCount}'] {
      .uicc-slider__slides {
        width: (100 * $slideCount) * 1%;
      }

      .uicc-slider__slide {
        flex-basis: (100 / $slideCount) * 1%;
      }

      @for $_idx from 1 through $slideCount {
        @include uicc-active-slide($_idx, $slideCount);
      }
    }
  }

  @mixin uicc-active-slide($slideNumber, $slideCount) {
    &[data-active-slide='#{$slideNumber}'] {
      .uicc-slider__slides {
        transform: translate3d(($slideNumber - 1) * (-100% / $slideCount), 0, 0);
      }

      .uicc-slider__slide--card {
        &:nth-child(#{$slideNumber - 1})::before {
          transform: translate3d(27px, 0, 0) scale3d(1, 0.9, 1);
        }

        &:nth-child(#{$slideNumber})::before {
          transform: scaleY(1);
        }

        &:nth-child(#{$slideNumber + 1})::before {
          transform: translate3d(-27px, 0, 0) scale3d(1, 0.9, 1);
        }
      }
    }
  }

  @include uicc-slides(1);
  @include uicc-slides(2);
  @include uicc-slides(3);
  @include uicc-slides(4);
  @include uicc-slides(5);
  @include uicc-slides(6);
}
