$uicc-tab-header-distance: $uicc-default-margin-big !default;
$uicc-tab-header-padding-top: 10px !default;
$uicc-tab-header-sides: 0 !default;
$uicc-tab-header-padding-bottom: $uicc-default-margin-small !default;
$uicc-tab-header-font-weight: normal !default;
$uicc-tab-header-font-weight-hover: $uicc-tab-header-font-weight !default;
$uicc-tab-header-font-weight-active: $uicc-tab-header-font-weight-hover !default;
$uicc-tab-header-color: $uicc-color-gray !default;
$uicc-tab-header-color-hover: $uicc-color-black !default;
$uicc-tab-header-color-active: $uicc-color-black !default;
$uicc-tab-header-underline-color: $uicc-color-brand-primary !default;
$uicc-tab-header-underline-color-hover: $uicc-color-transparent !default;
$uicc-tab-header-underline-color-active: $uicc-tab-header-underline-color !default;
$uicc-tab-underline-height: 1px !default;
$uicc-tab-underline-height-active: $uicc-accent-line-height !default;

.uicc-tabs {
  &__headers {
    display: flex;
    align-items: flex-start;
    border-bottom: $uicc-tab-underline-height solid $uicc-tab-header-underline-color;
  }

  &__tab {
    @include uicc-hover($uicc-tab-header-color-hover);

    transition: color 200ms, border 200ms;
    padding-top: $uicc-tab-header-padding-top;
    padding-bottom: $uicc-tab-header-padding-bottom;
    padding-left: $uicc-tab-header-sides;
    padding-right: $uicc-tab-header-sides;

    border-bottom: $uicc-tab-underline-height solid transparent;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: $uicc-tab-header-font-weight;
    color: $uicc-tab-header-color;

    & + & {
      margin-left: $uicc-tab-header-distance;
    }

    &:visited {
      color: $uicc-tab-header-color;
    }

    &:hover {
      font-weight: $uicc-tab-header-font-weight-hover;
      border-bottom-color: $uicc-tab-header-underline-color-hover;
    }

    &.is-active {
      font-weight: $uicc-tab-header-font-weight-active;
      color: $uicc-tab-header-color-active;
      border-color: $uicc-tab-header-underline-color-active;
      border-bottom-width: $uicc-tab-underline-height-active;
    }

    &:first-child,
    &--first {
      margin-left: 0;
    }

    &:last-child,
    &--last {
      margin-right: 0;

      // scss-lint:disable NestingDepth
      &::after {
        display: none;
      }
      // scss-lint:enable NestingDepth
    }
  }

  &__content {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
