$uicc-tab-header-distance: $uicc-default-margin-big !default;
$uicc-tab-header-font-weight: 'bold' !default;
$uicc-tab-header-font-weight-active: 'bold' !default;
$uicc-tab-header-color: $uicc-color-gray !default;
$uicc-tab-header-color-active: $uicc-color-brand-primary !default;
$uicc-tab-header-underline-color: $uicc-color-transparent !default;
$uicc-tab-header-underline-color-active: $uicc-color-brand-primary !default;

.uicc-tabs {
  &__tabHeader {
    @include uicc-hover($uicc-color-brand-primary);
    display: inline-block;
    position: relative;

    transition: color 200ms, border 200ms;
    padding: 3px 0 12px 0;

    border-bottom: 2px solid $uicc-tab-header-underline-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: $uicc-tab-header-font-weight;
    color: $uicc-tab-header-color;
    font-size: 0.87 * $uicc-font-size-base;

    & + & {
      margin-left: $uicc-tab-header-distance;
    }

    &.is-active,
    &:focus {
      font-weight: $uicc-tab-header-font-weight-active;
      font-size: $uicc-font-size-base;
      color: $uicc-tab-header-color-active;
      border-color: $uicc-tab-header-underline-color-active;
    }

    &:first-child,
    &--first {
      margin-left: 0;
    }

    &:last-child,
    &--last {
      margin-right: 0;

      // scss-lint:disable NestingDepth
      &::after {
        display: none;
      }
      // scss-lint:enable NestingDepth
    }
  }

  &__tabContent {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
