.uicc-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__tabHeaders {
    display: flex;
    flex: 0 0 auto;
  }

  &__tabHeader {
    @include uicc-hover($uicc-color-brand-primary);

    position: relative;
    flex: 1 1 0;
    transition: color 200ms, border 200ms;
    padding: 11px 8px 8px 8px;
    border-bottom: 2px solid $uicc-color-gray-light;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 0.87 * $uicc-font-size-base;

    &::after {
      content: '';
      position: absolute;
      right: -1px;
      top: 6px;
      bottom: 6px;
      width: 2px;
      background-color: $uicc-color-gray-light;
    }

    &.is-active,
    &:focus {
      font-weight: bold;
      font-size: $uicc-font-size-base;
      color: $uicc-color-brand-primary;
      border-color: $uicc-color-brand-primary;
    }

    &:first-child,
    &--first {
      margin-left: 0;
    }

    &:last-child,
    &--last {
      margin-right: 0;

      // scss-lint:disable NestingDepth
      &::after {
        display: none;
      }
      // scss-lint:enable NestingDepth

    }
  }

  &__tabContent {
    flex: 1 1 auto;
    display: none;

    &.is-active {
      display: block;
    }
  }
}
