$uicc-table-color-background: $uicc-color-white !default;
$uicc-table-headline-color-background: $uicc-color-gray-lighter !default;
$uicc-table-headline-color: $uicc-color-black !default;
$uicc-table-headline-font-weight: normal !default;
$uicc-table-highlight-color-background: $uicc-color-gray !default;
$uicc-table-highlight-color: $uicc-color-white !default;
$uicc-table-border-color: $uicc-color-gray-light;
$uicc-table-hover-background-color: $uicc-color-gray-light !default;
$uicc-table-hover-border-color: $uicc-color-gray-lighter !default;
$uicc-table-font-size: 0.9 * $uicc-font-size-text !default;
$uicc-table-font-size-compact: 0.8 * $uicc-font-size-text !default;

@mixin responsiveTable($_mediaQuery) {
  @media #{$_mediaQuery} {
    &,
    & .uicc-table__row,
    & .uicc-table__cell,
    & tbody {
      display: block;
    }

    & {
      border-right: none;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    & thead {
      position: absolute;
      top: -999rem;
      left: -999rem;
    }

    & .uicc-table__row {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      border-bottom: 2px solid $uicc-color-gray;

      //background-color: transparent !important; //"unstripe"

      &:first-child {
        border-top: 2px solid $uicc-color-gray;
      }
    }

    & .uicc-table__cell {
      /* Behave  like a "row" */
      display: flex;
      align-items: flex-start;
      border: none;
      border-bottom: 1px solid $uicc-color-gray-light;

      &:last-child {
        border-bottom: none;
      }

      &::before {
        content: attr(data-uicc-th);
        flex-basis: 35%;
        flex-shrink: 0;
        margin-right: 1em;
        text-align: right;
        font-weight: bold;
      }

      &--headline::before {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      &--contentAsResponsiveHeadline {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        padding-left: 0.3rem;

        &.uicc-table__cell--headline {
          text-align: left;
          border-bottom: none;
          margin-bottom: 1rem;
        }

        &::before {
          display: none;
        }
      }

      &--noResponsiveHeadline {
        display: block;
        padding-left: 0.3rem;

        &.uicc-table__cell--headline {
          border-bottom: none;
          margin-bottom: 1rem;
        }

        &::before {
          display: none;
        }
      }

      &--centered {
        text-align: left; /* do not center in responsive mode */
      }
    }
  }
}

.uicc-tableWrapper {
  position: relative;
  background-color: $uicc-table-color-background;
}

.uicc-table {
  border-collapse: collapse;
  border-spacing: 0;
  font-variant-numeric: lining-nums tabular-nums;
  border-right: 2px solid $uicc-color-white;
  background-color: $uicc-table-color-background;
  font-size: $uicc-table-font-size;
}

.uicc-table--block {
  width: 100%;
}

.uicc-table--hover .uicc-table__row:hover {
  background-color: $uicc-table-hover-background-color;

  .uicc-table__cell--separatorLeft {
    border-left-color: $uicc-table-hover-border-color;
  }

  .uicc-table__cell--separatorRight {
    border-right-color: $uicc-table-hover-border-color;
  }
}

.uicc-table--bordered .uicc-table__cell {
  border-bottom: 1px solid $uicc-table-border-color;
}

.uicc-table__row {
  transition: background-color 300ms;
  border-bottom: 1px solid $uicc-color-gray-lighter;

  @for $uicc_i from 35 through 120 {
    @if ($uicc_i % 5 == 0) {
      &--#{$uicc_i} {
        > .uicc-table__cell {
          height: #{$uicc_i}px;
        }
      }
    }
  }
}

.uicc-table__cell {
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  vertical-align: top;
  text-align: left;

  &--centered {
    text-align: center;
  }

  &--centeredVertically {
    vertical-align: center;
  }

  &--headline {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $uicc-table-headline-color-background;
    color: $uicc-table-headline-color;
    font-weight: $uicc-table-headline-font-weight;
  }

  &--highlight {
    background-color: $uicc-table-highlight-color-background;
    color: $uicc-table-highlight-color;
  }

  &--numeric {
    text-align: right;
  }

  &--headlineRow {
    text-align: right;
  }

  &--image {
    padding-top: 0.5rem;
  }

  &--actions {
    text-align: right;
    white-space: nowrap;
  }

  &--separatorLeft {
    border-left: 1px solid $uicc-table-border-color;
  }

  &--separatorRight {
    border-right: 1px solid $uicc-table-border-color;
  }

  @for $uicc_i from 20 through 500 {
    @if ($uicc_i % 5 == 0) {
      &--#{$uicc_i} {
        min-width: #{$uicc_i}px;
        max-width: #{$uicc_i}px;
      }
    }
  }
}

.uicc-table__action {
  display: inline-block;

  & + .uicc-table__action {
    margin-left: 0.5em;
  }
}

.uicc-table--compact {
  font-size: $uicc-table-font-size-compact;

  .uicc-table__cell {
    padding-top: 0.4rem;
    padding-left: 0.25rem;
    padding-bottom: 0.3rem;
    padding-right: 0.2rem;
  }
}

@media #{$uicc-print-only} {
  .uicc-table--bordered {
    .uicc-table__cell {
      border-color: $uicc-color-black !important; // sass-lint:disable-line no-important
    }
  }
}

.uicc-table--responsiveMediumDown {
  @include responsiveTable($uicc-medium-down);
}

.uicc-table--responsiveSmallDown {
  @include responsiveTable($uicc-small-down);
}
