@mixin responsiveTable($mediaQuery)
{
  @media #{$mediaQuery} {
    &,
    & .uicc-table__row,
    & .uicc-table__cell,
    & tbody {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    & thead {
      position: absolute;
      top: -999rem;
      left: -999rem;
    }

    & .uicc-table__row {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 2px solid $uicc-color-gray;

      //background-color: transparent !important; //"unstripe"

      &:last-child {
        border-bottom: none;
      }
    }

    & .uicc-table__cell {
      /* Behave  like a "row" */
      display: flex;
      align-items: flex-start;
      border: none;
      border-bottom: 1px solid $uicc-color-gray-medium;

      &:last-child {
        border-bottom: none;
      }

      &:before {
        content: attr(data-uicc-th);
        flex-basis: 35%;
        flex-shrink: 0;
        margin-right: 1em;
        text-align: right;
        font-weight: bold;
      }

      &--headline:before {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      &--contentAsResponsiveHeadline {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        padding-left: 0.3rem;

        &.uicc-table__cell--headline {
          text-align: left;
          border-bottom: none;
          margin-bottom: 1rem;
        }

        &:before {
          display: none;
        }
      }

      &--noResponsiveHeadline {
        display: block;
        padding-left: 0.3rem;

        &.uicc-table__cell--headline {
          border-bottom: none;
          margin-bottom: 1rem;
        }

        &:before {
          display: none;
        }
      }

      &--centered {
        text-align: left; /* do not center in responsive mode */
      }
    }
  }
}

.uicc-table {
  border-collapse: collapse;
  border-spacing: 0;

  &--block {
    width: 100%;
  }

  &--striped &__row {
    &:nth-child(even) {
      background-color: lighten($uicc-color-gray-medium, 10%);
      &:hover {
        background-color: lighten($uicc-color-gray-medium, 20%);
      }
    }
  }

  &--hover &__row:hover {
    background-color: lighten($uicc-color-gray-medium, 10%);
  }

  &--bordered &__cell {
    border: 1px solid $uicc-color-gray-medium;
  }

  &__row {
    transition: all 300ms;
    border-bottom: 1px solid $uicc-color-gray-medium;
  }

  &__cell {
    text-align: left;
    padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    vertical-align: top;

    &--centered {
      text-align: center;
    }

    &--headline {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: $uicc-color-gray-light;
      color: $uicc-color-gray-dark;
      font-weight: bold;
    }

    &--image {
      padding-top: 0.5rem;
    }

    &--actions {
      text-align: right;
      white-space: nowrap;
    }

  }

  &__action {
    color: $uicc-color-gray;
    font-size: 0.8em;

    &:hover {
      color: $uicc-color-brand-primary;
    }

    &:visited {
      color: $uicc-color-gray;
    }

    & + .uicc-table__action {
      margin-left: 0.5em;
    }
  }

  &--bordered {
    .uicc-table__cell--headline {
      border-top: 1px solid $uicc-color-gray-medium;
      border-bottom: 1px solid $uicc-color-gray-medium;
    }
  }

  &--compact &__cell {
    padding: 0.2rem 0.2rem 0.1rem 0.25rem;
  }

  &--responsiveMediumDown {
    @include responsiveTable($uicc-medium-down);
  }

  &--responsiveSmallDown {
    @include responsiveTable($uicc-small-down);
  }

}

