@mixin uicc-link($is-unobtrusive: false) {
  transition: color .2s ease-in-out;
  display: inline-block;
  color: $uicc-link-color;
  text-decoration: underline;

  &:visited,
  &:active {
    color: $uicc-link-color;
    text-decoration: underline;
  }

  &:focus {
    color: $uicc-link-hover-color;
    text-decoration: underline;
  }

  @include uicc-hover($uicc-link-hover-color); // scss-lint:disable DeclarationOrder

  @if ($is-unobtrusive == 'modifier') {
    &--unobtrusive {
      @include uicc-hover($uicc-color-brand-primary);

      &,
      &:visited {
        color: $uicc-text-color;
      }
    }
  } @else if($is-unobtrusive == true) {
    @include uicc-hover($uicc-color-brand-primary);

    &,
    &:visited {
      color: $uicc-text-color;
    }
  }
}
