// sass-lint:disable no-important

@mixin uicc-hidden-tiny {
  @media #{$uicc-tiny-only} {
    display: none !important;
  }
}

@mixin uicc-hidden-tiny-up {
  @media #{$uicc-tiny-up}, print {
    display: none !important;
  }
}

@mixin uicc-hidden-tiny-down {
  @include uicc-hidden-tiny;
}


@mixin uicc-hidden-small {
  @media #{$uicc-small-only} {
    display: none !important;
  }
}

@mixin uicc-hidden-small-up {
  @media #{$uicc-small-up}, print {
    display: none !important;
  }
}

@mixin uicc-hidden-small-down {
  @include uicc-hidden-small;
  @include uicc-hidden-tiny-down;
}


@mixin uicc-hidden-medium {
  @media #{$uicc-medium-only} {
    display: none !important;
  }
}

@mixin uicc-hidden-medium-up {
  @media #{$uicc-medium-up}, print {
    display: none !important;
  }
}

@mixin uicc-hidden-medium-down {
  @include uicc-hidden-medium;
  @include uicc-hidden-small-down;
}


@mixin uicc-hidden-large {
  @media #{$uicc-large-only}, print {
    display: none !important;
  }
}

@mixin uicc-hidden-large-up {
  @media #{$uicc-large-up}, print {
    display: none !important;
  }
}

@mixin uicc-hidden-large-down {
  @include uicc-hidden-large;
  @include uicc-hidden-medium-down;
}


@mixin uicc-hidden-xlarge {
  @media #{$uicc-xlarge-only} {
    display: none !important;
  }
}

@mixin uicc-hidden-xlarge-up {
  @media #{$uicc-xlarge-up} {
    display: none !important;
  }
}

@mixin uicc-hidden-xlarge-down {
  @include uicc-hidden-xlarge;
  @include uicc-hidden-large-down;
}

@mixin uicc-hidden-print {
  @media #{$uicc-print-only} {
    display: none !important;
  }
}

@mixin uicc-hidden-screen {
  @media #{$uicc-screen-only} {
    display: none !important;
  }
}
// scss-lint:enable no-important