$uicc-asset-path: './assets' !default;
$uicc-font-path: '#{$uicc-asset-path}/fonts' !default;
$uicc-icon-path: '#{$uicc-asset-path}/icons' !default;
$uicc-image-path: '#{$uicc-asset-path}/images' !default;

/**
 * Media Query Breakpoints:
 */
$uicc-screen-small-min: 360px !default; // iPhone 6, Galaxy S6
$uicc-screen-medium-min: 576px !default; // Nexus 5, Iphone 5
$uicc-screen-large-min: 768px !default; // iPad portrait

// So media queries don't overlap when required, provide a maximum
$uicc-screen-small-max: ($uicc-screen-medium-min - 1px);
$uicc-screen-medium-max: ($uicc-screen-large-min - 1px);
$uicc-screen-large-max: ($uicc-screen-large-min - 1px);

// helper classes for most common media query types
$uicc-tiny-only: 'only screen and (max-width: #{$uicc-screen-small-min})';
$uicc-tiny-up: 'only screen'; /* tiny-up basically means 'every screen size' */
$uicc-small-only: 'only screen and (min-width: #{$uicc-screen-small-min}) and (max-width: #{$uicc-screen-small-max})';
$uicc-small-up: 'only screen and (min-width: #{$uicc-screen-small-min})';
$uicc-small-down: 'only screen and (max-width: #{$uicc-screen-small-max})';
$uicc-medium-only: 'only screen and (min-width: #{$uicc-screen-medium-min}) and (max-width: #{$uicc-screen-medium-max})';
$uicc-medium-up: 'only screen and (min-width: #{$uicc-screen-medium-min})';
$uicc-medium-down: 'only screen and (max-width: #{$uicc-screen-medium-max})';
$uicc-large-only: 'only screen and (min-width: #{$uicc-screen-large-min}) and (max-width: #{$uicc-screen-large-max})';
$uicc-large-up: 'only screen and (min-width: #{$uicc-screen-large-min})';
$uicc-xlarge-only: 'only screen and (min-width: #{$uicc-screen-large-min})';
$uicc-xlarge-up: 'only screen and (min-width: #{$uicc-screen-large-min})';
$uicc-screen-only: 'only screen';
$uicc-print-only: 'only print';

//== Colors
$uicc-color-white: #fff !default;
$uicc-color-black: hsla(186, 15%, 8%, 1) !default;
$uicc-color-gray-dark: hsla(186, 15%, 25%, 1) !default;
$uicc-color-gray-darker: hsla(186, 15%, 15%, 1) !default;
$uicc-color-gray: hsla(186, 15%, 50%, 1) !default;
$uicc-color-gray-medium: hsla(186, 35%, 90%, 1) !default;
$uicc-color-gray-light: hsla(186, 35%, 95%, 1) !default;
$uicc-color-gray-lighter: hsla(186, 35%, 98%, 1) !default;
$uicc-color-darken-light: rgba(0, 0, 0, 0.15) !default;
$uicc-color-darken: rgba(0, 0, 0, 0.6) !default;
$uicc-color-darken-heavy: rgba(0, 0, 0, 0.8) !default;
$uicc-color-transparent: rgba(0, 0, 0, 0) !default;

$uicc-color-brand-primary: hsla(186, 71%, 34%, 1) !default;
$uicc-color-brand-primary-light: lighten($uicc-color-brand-primary, 10%) !default;
$uicc-color-brand-primary-inverted: $uicc-color-white !default;

$uicc-color-brand-secondary: $uicc-color-gray-darker !default;
$uicc-color-brand-secondary-inverted: $uicc-color-white !default;

$uicc-color-success: #00b76b !default;
$uicc-color-error: #f44336 !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$uicc-body-bg: $uicc-color-white !default;
//** Global text color on `<body>`.
$uicc-text-color: $uicc-color-gray-darker !default;

//** Global textual link color.
$uicc-link-color: $uicc-color-brand-primary !default;
//** Link hover color set via `darken` function.
$uicc-link-hover-color: lighten($uicc-color-brand-primary, 20) !default;

$uicc-page-max-width: 64.0rem !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$uicc-font-family-base: 'Lato', sans-serif !default;

$uicc-font-size-base: 16px !default;
$uicc-font-size-text: 0.95rem !default;

$uicc-font-size-h0: 3.5 * $uicc-font-size-text !default;
$uicc-font-size-h0-screen-small: 3.3 * $uicc-font-size-text !default;
$uicc-font-size-h0-screen-tiny: 3.0 * $uicc-font-size-text !default;
$uicc-text-transform-h0: uppercase !default;
$uicc-font-size-h1: 2.0 * $uicc-font-size-text !default;
$uicc-font-size-h1-screen-small: 1.9 * $uicc-font-size-text !default;
$uicc-font-size-h1-screen-tiny: 1.8 * $uicc-font-size-text !default;
$uicc-text-transform-h1: uppercase !default;
$uicc-font-size-h2: 1.55 * $uicc-font-size-text !default;
$uicc-font-size-h2-screen-small: 1.45 * $uicc-font-size-text !default;
$uicc-font-size-h2-screen-tiny: 1.35 * $uicc-font-size-text !default;
$uicc-text-transform-h2: uppercase !default;
$uicc-font-size-h3: 1.4 * $uicc-font-size-text !default;
$uicc-font-size-h3-screen-small: 1.3 * $uicc-font-size-text !default;
$uicc-font-size-h3-screen-tiny: 1.2 * $uicc-font-size-text !default;
$uicc-text-transform-h3: uppercase !default;
$uicc-font-size-h4: 1.3 * $uicc-font-size-text !default;
$uicc-font-size-h4-screen-small: 1.2 * $uicc-font-size-text !default;
$uicc-font-size-h4-screen-tiny: 1.1 * $uicc-font-size-text !default;
$uicc-text-transform-h4: none !default;
$uicc-font-size-h5: 1.0 * $uicc-font-size-text !default;
$uicc-font-size-h5-screen-small: 0.9 * $uicc-font-size-text !default;
$uicc-font-size-h5-screen-tiny: 0.9 * $uicc-font-size-text !default;
$uicc-text-transform-h5: none !default;
$uicc-font-size-h6: 0.9 * $uicc-font-size-text !default;
$uicc-font-size-h6-screen-small: 0.8 * $uicc-font-size-text !default;
$uicc-font-size-h6-screen-tiny: 0.8 * $uicc-font-size-text !default;
$uicc-text-transform-h6: none !default;

//** Unit-less `line-height` for use in components like buttons.
$uicc-line-height-base: 1.35 !default;
$uicc-line-height-computed: floor(($uicc-font-size-base * $uicc-line-height-base)) !default;

//** By default, this inherits from the `<body>`.
$uicc-headings-font-family: $uicc-font-family-base !default;
$uicc-headings-font-weight: normal !default;
$uicc-headings-line-height: 1.3 !default;
$uicc-headings-line-height-screen-tiny: 1.2 !default;
$uicc-headings-letter-spacing: initial !default;

/**
 * Margins:
 */
$uicc-default-margin: 12px !default;
$uicc-default-margin-screen-large: 16px !default;
$uicc-default-margin-small: 8px !default;
$uicc-default-margin-small-screen-large: 10px !default;
$uicc-default-margin-big: 20px !default;
$uicc-default-margin-big-screen-large: 28px !default;

$uicc-input-padding: 0.5rem 0.35rem 0.25rem 0.35rem !default;

$uicc-tab-underline-height: 2px !default;

$uicc-accent-line-height: 2px;

/**
 * z-index
 */
$uicc-modal-z-index: 1000 !default;
$uicc-tooltip-z-index: $uicc-modal-z-index - 1 !default;
$uicc-offCanvas-z-index: $uicc-modal-z-index - 1 !default;
$uicc-loading-container-z-index: 1 !default;

