$uicc-asset-path: './assets' !default;
$uicc-font-path: '#{$uicc-asset-path}/fonts' !default;
$uicc-icon-path: '#{$uicc-asset-path}/icons' !default;
$uicc-image-path: '#{$uicc-asset-path}/images' !default;

//== Colors
//
//## Gray and brand colors inspired by Bootstrap.

$uicc-color-white: #fff !default;
$uicc-color-black: #111 !default;
$uicc-color-gray-dark: #444 !default;
$uicc-color-gray-darker: #333 !default;
$uicc-color-gray: #979797 !default;
$uicc-color-gray-medium: #d8d8d8 !default;
$uicc-color-gray-light: #f2f2f2 !default;
$uicc-color-darken-light: rgba(0, 0, 0, 0.15);
$uicc-color-darken: rgba(0, 0, 0, 0.65);
$uicc-color-darken-heavy: rgba(0, 0, 0, 0.8);
$uicc-color-transparent: rgba(0, 0, 0, 0);

$uicc-color-brand-primary: #198794 !default;
$uicc-color-brand-primary-light: lighten($uicc-color-brand-primary, 10%) !default;
$uicc-color-brand-primary-inverted: #fff;

$uicc-color-brand-secondary: #111 !default;
$uicc-color-brand-secondary-inverted: #fff !default;

$uicc-color-success: $uicc-color-white !default;
$uicc-color-success-background: #009912 !default;
$uicc-color-info: $uicc-color-black !default;
$uicc-color-info-background: $uicc-color-gray-medium !default;
$uicc-color-warning: #8a6d3b !default;
$uicc-color-warning-background: #fcf8e3 !default;
$uicc-color-error: #fff !default;
$uicc-color-error-background: #f10815 !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$uicc-body-bg: $uicc-color-white !default;
//** Global text color on `<body>`.
$uicc-text-color: $uicc-color-gray-darker !default;

//** Global textual link color.
$uicc-link-color: $uicc-color-brand-primary !default;
//** Link hover color set via `darken` function.
$uicc-link-hover-color: lighten($uicc-color-brand-primary, 20) !default;

$uicc-page-max-width: 64.0rem;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$uicc-font-family-base: 'Lato', sans-serif !default;

$uicc-font-size-base: 16px !default;
$uicc-font-size-text: 0.95rem;

$uicc-font-size-h0: 3.5 * $uicc-font-size-text !default;
$uicc-font-size-h0-screen-small: 3.3 * $uicc-font-size-text !default;
$uicc-font-size-h0-screen-tiny: 3.0 * $uicc-font-size-text !default;
$uicc-font-size-h1: 2.5 * $uicc-font-size-text !default;
$uicc-font-size-h1-screen-small: 2.3 * $uicc-font-size-text !default;
$uicc-font-size-h1-screen-tiny: 2.0 * $uicc-font-size-text !default;
$uicc-font-size-h2: 1.5 * $uicc-font-size-text !default;
$uicc-font-size-h2-screen-small: 1.3 * $uicc-font-size-text !default;
$uicc-font-size-h2-screen-tiny: 1.2 * $uicc-font-size-text !default;
$uicc-font-size-h3: 1.22 * $uicc-font-size-text !default;
$uicc-font-size-h3-screen-small: 1.12 * $uicc-font-size-text !default;
$uicc-font-size-h3-screen-tiny: 1.12 * $uicc-font-size-text !default;
$uicc-font-size-h4: 1.15 * $uicc-font-size-text !default;
$uicc-font-size-h4-screen-small: 1.05 * $uicc-font-size-text !default;
$uicc-font-size-h4-screen-tiny: 1.0 * $uicc-font-size-text !default;
$uicc-font-size-h5: 1.0 * $uicc-font-size-text !default;
$uicc-font-size-h5-screen-small: 0.9 * $uicc-font-size-text !default;
$uicc-font-size-h5-screen-tiny: 0.8 * $uicc-font-size-text !default;
$uicc-font-size-h6: 0.9 * $uicc-font-size-text !default;
$uicc-font-size-h6-screen-small: 0.8 * $uicc-font-size-text !default;
$uicc-font-size-h6-screen-tiny: 0.7 * $uicc-font-size-text !default;

//** Unit-less `line-height` for use in components like buttons.
$uicc-line-height-base: 1.35 !default;
$uicc-line-height-computed: floor(($uicc-font-size-base * $uicc-line-height-base)) !default;

//** By default, this inherits from the `<body>`.
$uicc-headings-font-family: $uicc-font-family-base;
$uicc-headings-font-weight: normal !default;
$uicc-headings-line-height: 1.3 !default;
$uicc-headings-line-height-screen-tiny: 1.2 !default;
$uicc-headings-letter-spacing: initial !default;

/**
 * Media Query Breakpoints:
 */
$uicc-screen-small-min: 360px !default; // iPhone 6, Galaxy S6
$uicc-screen-medium-min: 576px !default; // Nexus 5, Iphone 5
$uicc-screen-large-min: 768px !default; // iPad portrait
$uicc-screen-large-min: 1024px !default; // iPad landscape

// So media queries don't overlap when required, provide a maximum
$uicc-screen-small-max: ($uicc-screen-medium-min - 1px);
$uicc-screen-medium-max: ($uicc-screen-large-min - 1px);
$uicc-screen-large-max: ($uicc-screen-large-min - 1px);

// helper classes for most common media query types
$uicc-tiny-only: 'only screen and (max-width: #{$uicc-screen-small-min})';
$uicc-tiny-up: 'only screen'; /* tiny-up basically means 'every screen size' */
$uicc-small-only: 'only screen and (min-width: #{$uicc-screen-small-min}) and (max-width: #{$uicc-screen-small-max})';
$uicc-small-up: 'only screen and (min-width: #{$uicc-screen-small-min})';
$uicc-small-down: 'only screen and (max-width: #{$uicc-screen-small-max})';
$uicc-medium-only: 'only screen and (min-width: #{$uicc-screen-medium-min}) and (max-width: #{$uicc-screen-medium-max})';
$uicc-medium-up: 'only screen and (min-width: #{$uicc-screen-medium-min})';
$uicc-medium-down: 'only screen and (max-width: #{$uicc-screen-medium-max})';
$uicc-large-only: 'only screen and (min-width: #{$uicc-screen-large-min}) and (max-width: #{$uicc-screen-large-max})';
$uicc-large-up: 'only screen and (min-width: #{$uicc-screen-large-min})';
$uicc-xlarge-only: 'only screen and (min-width: #{$uicc-screen-large-min})';
$uicc-xlarge-up: 'only screen and (min-width: #{$uicc-screen-large-min})';


/**
 * Margins:
 */
$uicc-default-margin: 12px !default;
$uicc-default-margin-screen-large: 16px !default;
$uicc-default-margin-small: 8px !default;
$uicc-default-margin-small-screen-large: 10px !default;
$uicc-default-margin-big: 20px !default;
$uicc-default-margin-big-screen-large: 28px !default;


$uicc-input-padding: 0.5rem 0.35rem 0.25rem 0.35rem !default;

/**
 * z-index
 */
$uicc-modal-z-index: 1000 !default;
$uicc-offCanvas-z-index: $uicc-modal-z-index - 1 !default;
